:host {
  --quote-color-text: #333;
  display: block;
  overflow: hidden;
}

nav ul{
  padding: 0;
  margin: 0 0 1rem 0;
  background: teal;
  display: flex;
  list-style: none;

  li {
    padding: 1rem;
    color: white;
    cursor: pointer;

    &.active {
      background: rgba(black, .2);
    }
  }
}
